@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(217,241,201);
  background: linear-gradient(180deg, rgba(217,241,201,1) 0%, rgba(255,255,255,1) 100%);
  /* background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%); */
}

.download-resume {
  color: #ffbc00;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #ffbc00;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.download-resume:after {
  content: "";
  background-color: black;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.download-resume:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .download-resume {
    padding: 13px 50px 13px;
  }
}
